.nav {
  display: flex;
  gap: 14px;
  align-items: center;
  min-height: 42px;
  padding: 0 28px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
}

.link {
  color: #222;
  font-weight: 600;
  text-decoration: none;
}

.active {
  color: #d84f72;
  font-weight: 700;
}
